.default-layout {
	.navbar-right {
		margin: 0;
	}
  .region-hero {
    position: relative;
    margin-bottom: -15px; /* Solve for this LATER */
    #hero_video_bg {
      width: 100%;
    }
    .homepage_hero_video {
      .content {
        max-width: 1170px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 0;
        color: white;
        text-align: center;
        padding-top: 25vh;
        h2 {
          font-size: 5em;
          align-self: center;
        }
        p {
          font-size: 1.5em;
        }
      }
    }
  }
}

// Globals - move later

footer {
	
}


