.split-screen-layout {
  .main-header-container {
    position: relative;
    z-index: 2;
  }
  .navbar-right {
    margin: 0;
  }

  .region-sidebar-left {
    background: $brand-primary;
    padding: 60px;
    color: white;
  }
  .region-sidebar-right {
    background: $brand-success;
    padding: 60px;
    color: white;
  }
  .region-content {
    padding: 60px 0;
  }
}


