.pre-header {
	.menu--account.navbar-right {
		background: lighten($brand-primary, 70%);
		border-bottom: 1px solid lighten($brand-primary, 60%);
		width: 100%;
		margin: 0;
		text-align: right;
	}

	ul {
		li {
			float: none;
			display: inline-block;
			a {
				padding: 5px 10px;
				font-size: .9em;
			}
		}
	}
} 
.header {
	.logo {
		img {
			height: 30px;
		}
	}
} 
