.search-block-form {
	background: $brand-primary;
	padding: 17px 30px 25px 30px;
	position: fixed;
	top: -110px;
	z-index: 11;
  	width: 100%;
  	transition: all .5s ease-in;

  	.input-group {
  		width: 95%;
  		float: left;
  	}
	&.open {
		top: 0;

	}
	.search-close {
		float: right;
		color: white;
		cursor: pointer;
		font-size: 1.8em;
		display: inline-block;
		padding: 6px 12px 0 12px;
		border-radius: 3px;
		line-height: 1;
		background: darken($brand-primary, 10%);
		&:hover {
			background: lighten($brand-primary, 10%);
		}
	}
}

.is-admin {
  .search-block-form {
    &.open {
      top: 79px;
    }
  }
}
