{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('d8/fixed-sidebar') }}

{#
  These variables are to control between different layouts like
  - One Column
  - With Left Sidebar
  - With Right Sidebar
  - With Both Sidebar
#}
{% set sbleft = 0 %}
{% set sbright = 0 %}

{#
  This variable allows you to hide regions if needed.
#}
{% set hide_regions = 1 %}

{# Main #}
{% block main %}
  <div role="main" class="main-container container-fluid js-quickedit-main-content {% if is_admin == 1  %} is-admin {% endif %} fixed-sidebar-layout">

    <div class="main-header-container">
      {# Pre-Header #}
      {% if page.pre_header %}
        {% block pre_header %}
          <div class="pre-header">
              
                {{ page.pre_header }}
             
          </div>
        {% endblock %}
      {% endif %}
    </div>

    <div id="fixed-sidebar" class="fixed-sidebar col-sm-2">
      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="header">
            <div class="row">
              <div class="col-sm-12" role="heading">
                {{ page.header }}
              </div>
            </div>
          </div>
        {% endblock %}
      {% endif %}

      {# Pre-Footer #}
      {% if page.pre_footer %}
        {% block pre_footer %}
          <div class="pre-footer">
              {{ page.pre_footer }}
          </div>
        {% endblock %}
      {% endif %}

      {% if page.footer %}
        {% block footer %}
          <footer class="footer" role="footer">
              {{ page.footer }}
          </footer>
        {% endblock %}
      {% endif %}
    </div>

    <div id="fixed-sidebar-content" class="fixed-sidebar-content col-sm-10  col-sm-offset-2">

      {# Hero #}
      {% if page.hero %}
        {% block hero %}
          <div class="hero">
              {{ page.hero }}
          </div>
        {% endblock %}
      {% endif %}

      <div class="main">
        {# Sidebar First #}
        {% if sbleft == 1 %}
          {% if page.sidebar_left %}
            {% block sidebar_left %}
              <aside class="col-sm-3" role="complementary">
                {{ page.sidebar_left }}
              </aside>
            {% endblock %}
          {% endif %}
        {% endif %}

        {# Content #}
        {% if (sbleft == 1) and (sbright == 1) %}
          {% set content_classes = 'col-sm-6' %}
        {% elseif (sbleft == 1) or (sbright == 1) %}
          {% set content_classes = 'col-sm-9' %}
        {% else %}
          {% set content_classes = 'col-sm-12' %}
        {% endif %}
        <section class="{{ content_classes }}">

          {# Highlighted #}
          {% if page.highlighted %}
            {% block highlighted %}
              <div class="highlighted">{{ page.highlighted }}</div>
            {% endblock %}
          {% endif %}

          {# Content #}
          {% block content %}
            <a id="main-content"></a>
            {{ page.content }}
          {% endblock %}
        </section>

        {# Sidebar Second #}
        {% if sbright == 1 %}
          {% if page.sidebar_right %}
            {% block sidebar_right %}
              <aside class="col-sm-3" role="complementary">
                {{ page.sidebar_right }}
              </aside>
            {% endblock %}
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
