// @todo these should be their own CSS files and only included when

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header { 
  margin-top: 0;
}

// Footer.
.footer {
  background: darken($brand-primary, 5%);
  color: white;
  margin: 0;
  padding: 60px;
  border: 0;
  text-align: center;
  .menu {
    li {
      display: inline-block;
      a {
        color: white;
        &:hover {
          background: $brand-primary;
          color: white;
        }
      }
    }
  }
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.container-fluid {
  padding: 0px;
}

.feed-icons {
  display: none;
}

.name.navbar-brand {
  display: none;
}

.no-pad {
  margin: 0;
  [class*="col-"] {
    padding: 0;
  }
}
.page-header {
  border: 0;
  padding: 0;
  margin: 0;
}
.pre-footer {
  background: lighten($brand-primary, 65%);
  padding: 60px;
}
