.fixed-sidebar-layout {
  .fixed-sidebar {
    background-color: darken($brand-primary, 5%);
    -webkit-box-shadow: inset -10px 0px 20px darken($brand-primary, 9%);
    -moz-box-shadow: inset -10px 0px 20px darken($brand-primary, 9%);
    box-shadow: inset -10px 0px 20px darken($brand-primary, 9%);
    border-right: 1px solid darken($brand-primary, 15%);
    height: 100vh;
    overflow: scroll-y;


    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

    #block-d8-main-menu {
      clear: both;
      padding: 0px 10px;
    }
    .menu--main {
      float: none;
      width: 100%;
      padding: 25px 10px;
      li {
        float: none;
        width: 100%;
        a {
          color: #fff;
          display: block;
          width: 100%;
          border-bottom: 2px solid $brand-primary;
          font-size: 1.5em;
          padding: 25px 0px;
          font-weight: normal;
          &:hover, &:active, &:focus {
            background: none;
            color: $brand-success;
            border-bottom: 2px solid $brand-success;
          }
        }

      }
    }
    .header {
      .col-sm-12 {
        padding: 0px;
      }
    }
    .pre-footer {
      padding: 30px 0;
      background: none;
      font-size: .8em;
      color: lighten($brand-primary, 45%);
    }
    .footer {
      padding: 0;
      background: none;
      color: lighten($brand-primary, 25%);
      font-size: .8em;
      text-align: left;
      nav {
        display: none;
      }
    }
  }
  .fixed-sidebar-content {
    padding: 0;
    .col-md-12 {
      padding: 0px;
    }
    .region-hero {
      video {
        width: 100%;
      }
    }
    .homepage_hero {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position:absolute;
      top: 0;
      right: 0;
      left: 0;
      .content {
        position:absolute;
        left: 20%;
        right: 0;
        max-width: 768px;
        top: 0;
        padding-top: 30vh;
        h2 {
          text-align: center;
          font-size: 4em;
          margin: auto;
          margin-bottom: auto;
          font-weight: 500;
          line-height: 1.2;
          margin-bottom: 10px;
          color: #fff;
        }
        p {
          max-width: 55%;
          text-align: center;
          margin: auto;
          font-size: 19px;
          font-weight: 400;
          line-height: 29px;
          color: #fff;
        }
      }
    }.region-content {
      padding: 30px; 
    }
  }

  .region-header {
    .logo {
      width: 100%;
      display: block;
      padding: 10px;
      background: #fff;
      text-align: center;
      margin: 0px;
      border-bottom: 2px solid #e4823b;
    }
  }

  .pre-header {
    .menu--account.navbar-right {
      background: lighten($brand-primary, 70%);
      border-bottom: 1px solid lighten($brand-primary, 60%);
      width: 100%;
      margin: 0;
      text-align: right;
      padding: 10px;
      border-bottom: 2px solid #e4823b;
    }
  }
}


